/* admin.css */

.menubar {
    width: 1450px;
    height: 50px;
    background-color: #4fc3f7;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #fff;
  }
  
  .logout-btn {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .box {
    width: 150px;
    height: 20px;
    border: 4px ridge;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: black;
  }

  .boxoutput {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    display: block;
    text-align: left; 
    color: black;
  }
  
  .boxroom {
    width: 145px;
    height: 100px;
    border: 1px solid;
    background-color: #919191;
    border-radius: 10px;
    margin: 18px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 33px;
    color: black;
  }

  .circle {
        width: 3px;
        height: 3px;
        margin: 5px;
        padding: 10px;
        background-color: green;
        border: solid 0px rgb(0, 0, 0);
        border-radius: 100%;
  }

  .boxtext{
    width: 85px;
    height: 10px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;

  }
  
 
.boxtexts {
  width: 120px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 15px;
}

.boxtextl {
  width: 100px;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
}
